[Desktop Entry]
Version=0.0.2
Name=ScreenerQt
GenericName=ScreenerQt
Comment=ScreenerQt open source gui for console application Screeener.
Keywords=utils
Exec=screenerqt
Icon=${SNAP}/images/screenerqt.png
Terminal=false
Type=Application
Categories=Utility;
